################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/TOOLS.GATEWAY/gateway.debug.json
/src/TOOLS.GATEWAY/appsettings.debug.json
